:root{
	--bg:#000;
	--txt:#fff;
}
html, body{ margin:0px; padding:0px; width:100%; text-align:center; }
*{ background-color:var(--bg); color:var(--txt); }

#color-picker{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.color-picker-element{ display:inline-block; }
.color-picker-element > *{ display:block; }

#spawn-egg{
	position:relative;
	height:50vh;
}
#spawn-egg *{ --bg:transparent; }
#spawn-egg > *{
	width:100%;
	position:absolute;
}
#spawn-egg-shell{ --clr:#d07444; }
#spawn-egg-dots{ --clr:#ffc77c; }
#spawn-egg img{ 
	position:relative;
	image-rendering:pixelated;
	image-rendering:-moz-crisp-edges;
	image-rendering:crisp-edges;
	height:50vh;
	transform:translateY(-1000px);
	filter:drop-shadow(0px 1000px 0 var(--clr));
}
